:root.dark {
    --borde-botton: rgba(14, 9, 9, 0.322);
    --botones-color: rgba(46, 49, 75, 0.884);
    --boton-color: rgba(46, 49, 75, 0.61);
    --reset-del-color: rgba(101, 142, 255, 0.753);
    --body-color: rgb(79, 93, 138);
    --input-color: rgb(41, 44, 73);
    --aliceblue: aliceblue;
    --danger: rgba(255, 95, 95, 0.87);
    --background-boton: white;
    --change-background: rgba(255, 255, 255, 0);
    --reset-del-color-hover: rgba(67, 117, 253, 0.856);
    --danger-hover: rgb(255, 95, 95);
    --reset-del-color-active: rgba(67, 117, 253, 0.692);
    --danger-active: rgba(255, 95, 95, 0.849);
}

:root.light {
    --borde-botton: rgba(14, 9, 9, 0.322);
    --botones-color: rgba(206, 206, 206, 0.884);
    --boton-color: rgba(46, 49, 75, 0.61);
    --reset-del-color: rgba(101, 142, 255, 0.753);
    --body-color: rgb(231, 223, 223);
    --input-color: rgb(255, 255, 255);
    --aliceblue: rgba(0, 0, 0, 0.712);
    --danger: rgba(255, 159, 95, 0.87);
    --background-boton: white;
    --change-background: rgba(255, 255, 255, 0);
    --reset-del-color-hover: rgba(55, 105, 245, 0.774);
    --danger-hover: rgb(255, 154, 86);
    --reset-del-color-active: rgba(55, 106, 245, 0.637);
    --danger-active: rgba(255, 154, 86, 0.87);
}

:root.superdark {
    --borde-botton: rgba(122, 0, 153, 0.486);
    --botones-color: rgba(77, 0, 112, 0.884);
    --boton-color: rgba(251, 255, 0, 0.938);
    --reset-del-color: rgba(197, 73, 255, 0.781);
    --body-color: rgb(38, 0, 53);
    --input-color: rgba(77, 0, 112, 0.884);
    --aliceblue: rgba(251, 255, 0, 0.938);
    --danger: rgba(95, 255, 242, 0.87);
    --background-boton: rgba(152, 0, 223, 0.829);
    --change-background: rgba(255, 255, 255, 0);
    --reset-del-color-hover: rgba(193, 62, 253, 0.993);
    --danger-hover: rgb(60, 255, 239);
    --reset-del-color-active: rgba(192, 62, 253, 0.712);
    --danger-active: rgba(60, 255, 239, 0.877);
}


.change {
    background-color: var(--change-background);
}


body {
    background-color: var(--body-color);
    color: var(--aliceblue);
    min-width: 252px;
}

.nav {
    /*background-color:rgba(46, 49, 75, 0.884);*/
    margin-top: 150px;
    width: 500px;
    border-radius: 10px;
}

.sol-luna {
    justify-content: end;
    text-align: end;
    margin-left: 10px;
}

.input {
    background-color: var(--input-color);
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    height: 135px;
    text-align: end;
}

.display-6 {
    opacity: 0.5;
}

.temp-result {
    text-align: start;
    position:absolute;
    opacity: 0.5;
}


.botones {
    background-color: var(--botones-color);
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    height: 400px;
}

.row {
    min-width: 80%;
}

.boton{
    height: 53px;
    color: var(--boton-color);
    background-color: var(--background-boton);
    border-bottom: 4px solid var(--borde-botton);
    border-radius: 8px;
    max-width: 16%;
}

.reset {
    background-color: var(--reset-del-color);
    border-bottom: 4px solid var(--borde-botton);
    border-radius: 8px;
    height: 53px;
    color: var(--aliceblue);
    max-width: 40.81%;
}

.reset:hover {
    background-color: var(--reset-del-color-hover);
    border-bottom: 4px solid var(--reset-del-color-hover);
}

.reset:active {
    background-color: var(--reset-del-color-active)!important;
    border-bottom: 4px solid var(--reset-del-color-active)!important;
}

.del {
    background-color: var(--reset-del-color);
    border-bottom: 4px solid var(--borde-botton);
    border-radius: 8px;
    height: 53px;
    color: var(--aliceblue);
    max-width: 16%;
    font-size: 180%;
}

.del:hover{
    background-color: var(--reset-del-color-hover);
    border-bottom: 4px solid var(--reset-del-color-hover);
}

.del:active {
    background-color: var(--reset-del-color-active)!important;
    border-bottom: 4px solid var(--reset-del-color-active)!important;
}

.dell {
    max-width: 16%;
}

.btn-danger {
    background-color: var(--danger);
    border-bottom: 4px solid var(--borde-botton);
    border-radius: 8px;
    height: 53px;
    color: var(--aliceblue);
    max-width: 40.81%;
}

.btn-danger:hover{
    background-color: var( --danger-hover);
    border-bottom: var(--danger-hover);
}

.btn-danger:active {
    background-color: var( --danger-active)!important;
    border-bottom: var(--danger-active)!important;
}


@media (min-width: 400px){
    body {
        justify-content: center;
    }
}

@media (min-width: 200px){
    .justify-content-sm-around {
        -ms-flex-pack: distribute!important;
        justify-content: space-around!important;
    }
}


@media (max-width: 530px){
    .container {
        width: 95%;
        }
}


@media (max-width: 400px){
    .h1 {
        width: 90%;
        }
}

@media (max-width: 400px){
    .del {
        font-size: 130%;
        }
}

@media (max-width: 315px){
    .del {
        font-size: 100%;
        }
}

