body {
    background-color: rgb(79, 93, 138);
    color: aliceblue;
    min-width: 252px;
}

.nav {
    /*background-color:rgba(46, 49, 75, 0.884);*/
    margin-top: 150px;
    width: 500px;
    border-radius: 10px;
}

.sol {
    justify-content: end;
    text-align: end;
    margin-left: 10px;
}

.input {
    background-color: rgb(41, 44, 73);
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    height: 100px;
    text-align: end;
}

.botones {
    background-color: rgba(46, 49, 75, 0.884);
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    height: 400px;
}

.row {
    min-width: 80%;
}

.boton{
    height: 53px;
    color: rgba(46, 49, 75, 0.61);
    border-bottom: 4px solid rgba(14, 9, 9, 0.322);
    border-radius: 8px;
    max-width: 16%;
}

.reset {
    background-color: rgba(101, 142, 255, 0.753);
    border-bottom: 4px solid rgba(14, 9, 9, 0.322);
    border-radius: 8px;
    height: 53px;
    color: aliceblue;
    max-width: 40.81%;
}

.del {
    background-color: rgba(101, 142, 255, 0.753);
    border-bottom: 4px solid rgba(14, 9, 9, 0.322);
    border-radius: 8px;
    height: 53px;
    color: aliceblue;
    max-width: 16%;
    font-size: 180%;
}

.dell {
    max-width: 16%;
}

.btn-danger {
    background-color: rgba(255, 95, 95, 0.87);
    border-bottom: 4px solid rgba(14, 9, 9, 0.322);
    border-radius: 8px;
    height: 53px;
    color: aliceblue;
    max-width: 40.81%;
}

@media (min-width: 400px){
    body {
        justify-content: center;
    }
}

@media (min-width: 200px){
    .justify-content-sm-around {
        -ms-flex-pack: distribute!important;
        justify-content: space-around!important;
    }
}


@media (max-width: 530px){
    .container {
        width: 95%;
        }
}


@media (max-width: 400px){
    .h1 {
        width: 90%;
        }
}

@media (max-width: 400px){
    .del {
        font-size: 130%;
        }
}

@media (max-width: 315px){
    .del {
        font-size: 100%;
        }
}

