:root.dark {
    --borde-botton: rgba(14, 9, 9, 0.322);
    --botones-color: rgba(46, 49, 75, 0.884);
    --boton-color: rgba(46, 49, 75, 0.61);
    --reset-del-color: rgba(101, 142, 255, 0.753);
    --body-color: rgb(79, 93, 138);
    --input-color: rgb(41, 44, 73);
    --aliceblue: aliceblue;
    --danger: rgba(255, 95, 95, 0.87)
}

:root.light {
    --borde-botton: rgba(14, 9, 9, 0.322);
    --botones-color: rgba(206, 206, 206, 0.884);
    --boton-color: rgba(46, 49, 75, 0.61);
    --reset-del-color: rgba(101, 142, 255, 0.753);
    --body-color: rgb(231, 223, 223);
    --input-color: rgb(255, 255, 255);
    --aliceblue: rgba(0, 0, 0, 0.712);
    --danger: rgba(255, 159, 95, 0.87);
}

body {
    background-color: var(--body-color);
    color: var(--aliceblue);
    min-width: 252px;
}

.nav {
    /*background-color:rgba(46, 49, 75, 0.884);*/
    margin-top: 150px;
    width: 500px;
    border-radius: 10px;
}

.sol-luna {
    justify-content: end;
    text-align: end;
    margin-left: 10px;
}

.input {
    background-color: var(--input-color);
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    height: 100px;
    text-align: end;
}

.botones {
    background-color: var(--botones-color);
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    height: 400px;
}

.row {
    min-width: 80%;
}

.boton{
    height: 53px;
    color: var(--boton-color);
    border-bottom: 4px solid var(--borde-botton);
    border-radius: 8px;
    max-width: 16%;
}

.reset {
    background-color: var(--reset-del-color);
    border-bottom: 4px solid var(--borde-botton);
    border-radius: 8px;
    height: 53px;
    color: var(--aliceblue);
    max-width: 40.81%;
}

.del {
    background-color: var(--reset-del-color);
    border-bottom: 4px solid var(--borde-botton);
    border-radius: 8px;
    height: 53px;
    color: var(--aliceblue);
    max-width: 16%;
    font-size: 180%;
}

.dell {
    max-width: 16%;
}

.btn-danger {
    background-color: var(--danger);
    border-bottom: 4px solid var(--borde-botton);
    border-radius: 8px;
    height: 53px;
    color: var(--aliceblue);
    max-width: 40.81%;
}

@media (min-width: 400px){
    body {
        justify-content: center;
    }
}

@media (min-width: 200px){
    .justify-content-sm-around {
        -ms-flex-pack: distribute!important;
        justify-content: space-around!important;
    }
}


@media (max-width: 530px){
    .container {
        width: 95%;
        }
}


@media (max-width: 400px){
    .h1 {
        width: 90%;
        }
}

@media (max-width: 400px){
    .del {
        font-size: 130%;
        }
}

@media (max-width: 315px){
    .del {
        font-size: 100%;
        }
}

